* {
  font-family: 'Poppins', sans-serif; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%; }

body {
  position: relative; }

header {
  width: 100%;
  height: 4rem;
  background-color: #2E5041;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  z-index: 10; }
  header h1 {
    vertical-align: middle; }
  header button {
    padding: 0.5rem;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    background-color: #c2836493; }

.website-logo {
  font-family: 'Comfortaa', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 5px;
  display: flex;
  align-items: center; }

.icon {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem; }

footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  position: relative;
  bottom: 0; }
  footer a {
    color: white; }

.backdrop {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.455);
  z-index: 2; }

.new-book__modal {
  display: none;
  padding: 2rem;
  border: 5px solid #2E5041;
  border-radius: 5px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

#library-container {
  min-height: 100vh;
  padding: 3rem 5rem;
  padding-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 2rem;
  background-color: #EFEAE2; }

.book-card {
  position: relative;
  height: 300px;
  padding: 25px 8px;
  background-color: #c2836493;
  border: 1px solid grey;
  border-left: 10px solid #9e52459f;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  gap: 8px;
  box-shadow: 2px 0px white, 4px 0px lightgrey, 6px 0px white, 8px 0px lightgrey; }

.book-card__title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center; }

.book-card__author {
  text-align: center;
  font-style: italic; }

.book-card__status {
  width: 80%;
  text-align: center;
  justify-self: end;
  border: 1px solid grey;
  background-color: rgba(255, 0, 0, 0.533);
  border-radius: 5px; }

.book-card__rating {
  font-size: 2rem;
  margin-top: auto;
  color: gold;
  -webkit-text-fill-color: gold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black; }

.book-card__remove {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 16px;
  width: 16px;
  color: white;
  font-size: 1rem;
  background-color: rgba(255, 0, 0, 0.533);
  border: none;
  border-radius: 33%;
  display: flex;
  justify-content: center;
  align-items: center; }

.read {
  background-color: rgba(0, 128, 0, 0.538); }

form input {
  display: block;
  margin-bottom: 20px; }

form input[type="checkbox"] {
  display: inline-block;
  margin: 0.5rem; }

form input[type="radio"] {
  display: inline-block; }

form input[type="button"] {
  margin: 3rem auto 0 auto;
  color: white;
  background-color: green; }

/*# sourceMappingURL=styles.css.map */
